header {
	background: #FF6347;
}

nav {
	background: #DB7093;
	width: 300px;
	margin-left: -600px;
}

#sidebar {
	background: #98FB98;
	width: 300px;
	margin-left: -300px;
}

#sidebar, nav {
	float: left;
}

#content {
	background: #FFA500	;
	margin-right: 610px;
	float: left;
}

footer {
	background: #F5F5F5;
	clear: both;
}

strong {
	font-size: 20px;
}